#ProxyDialog {
    -fx-background-color: #D3D3D3;
    -fx-background-insets: 0, 1, 2;
    -fx-padding: 10;
    -fx-effect: dropshadow( three-pass-box , black , 20, 0 , 0 , 0 );
    -fx-border-color: grey;
}

#ProxyDialog #title {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
    -fx-text-fill: black;
}

#ProxyDialog #text {
    -fx-text-fill: black;
}

#glass-grey {
    -fx-background-color:
        #c3c4c4,
        linear-gradient(#d6d6d6 50%, white 100%),
        radial-gradient(center 50% -40%, radius 200%, #e6e6e6 45%, rgba(230,230,230,0) 50%);
    -fx-background-radius: 30;
    -fx-background-insets: 0,1,1;
    -fx-text-fill: black;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1 );
}

#glass-grey:hover {
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.6) , 10, 0.5 , 0 , 0 );
}

